*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    height: 100%;
    right: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 64px 48px 180px 200px 200px 48px;
    grid-template-areas: 
            /*column1   column2     column3     column4*/
    /*row1*/ "header     header      header      header" 
    /*row2*/ "nav        nav         nav         nav"    
    /*row3*/ "aside       aside       aside       aside"  
    /*row4*/ "main        main          main       sidebar"     
    /*row5*/ "content1    content2       content3     sidebar" 
    /*row7*/ "footer       footer         footer         footer";

    grid-gap: 0.2rem;
}

header{
    background: #ffd1bb;
    grid-area: header;
    height: 100%;
}

nav{
    background: #ffd1aa;
    grid-area: nav;
}

aside{
    background: cornflowerblue;
    grid-area: aside;
}

main{
    background: bisque;
    grid-area: main;
}

#sidebar{
    background: peachpuff;
    grid-area: sidebar;
}

#content1{
    background: palevioletred;
    grid-area: content1;
}
#content2{
    background: palevioletred;
    grid-area: content2;
}
#content3{
    background: palevioletred;
    grid-area: content3;
}

footer{
    background: lightsalmon;
    grid-area: footer;
}

@media screen and (max-width:550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows:  0.4fr  0.4fr     2.2fr  1.2fr      1.2fr      1.2fr      1fr;
        grid-template-areas: 
                    /*Columna web mobil*/
            /*row1*/    "nav"
            /*row2*/    "sidebar"
            /*row3*/    "main"
            /*row4*/    "content1" 
            /*row5*/    "content2" 
            /*row6*/    "content3" 
            /*row7*/    "footer";
    }
}